{% load static %}
<!----Foother Satrt--->
<div>
    
<h3 style="text-align: center; margin-left: 55px; margin-top: 3%;">Contact</h3>
<hr>

    <div class="row mt-4 ms-50 row-dark bg-dark" style="color: white;" id="contact"><br>
        <div class="col-2"></div>
        <div class="col-3 mt-2" style="text-align: center;">
            <h5>Address</h5>
            <hr>
            Tower 2, 3rd floor <br>
            Baner-Balewadi Road <br>
            Baner, Pune-411045 <br>
            <p><i class="bi bi-telephone-fill text-white"></i>&nbsp;&nbsp;9823830601</p>
            <p><i class="bi bi-envelope-at-fill text-white"></i>&nbsp;&nbsp;AJ@gmail.com</p>

        </div>

        <div class="col-3 mt-2" style="text-align: center;">
            <h5>Quick Links</h5>
            <hr>
            <p><a href="index.html" style="color: white;">Home</a></p>
            <p><a href="about.html" style="color: white;">About</a></p>
            <p><a href="contact.html" style="color: white;">Contact</a></p>
        </div>
        <div class="col-3 mt-2" style="text-align: center;">
            <h5>Join Us</h5>
            <hr>
            <h5><a href="https://www.instagram.com/"><i class="bi bi-instagram text-white"></i></a></h5>
            <h5><a href="https://www.facebook.com/"><i class="bi bi-facebook text-white"></i></a></h5>
            <h5><a href="https://www.twitter.com/"><i class="bi bi-whatsapp text-white"></i></a></h5>
        </div>
    </div>
    <hr>
    <p style="text-align: center; font-size: x-small;">Copyright: &nbsp;&nbsp;<i class="bi bi-c-circle-fill"></i>2023 Abhi Jwellers, All Rights Reserved<p>
</div>

<!---footer End----->

